<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>信息页</title>
</head>
<body>
    <div style="text-align: center">
    <form method="post" action="/index">
        <span style="width: 80px;font-size:14px;">ta的名字:</span> <input style="width: 200px;text-align: left" type="text" name="name"/><br/>
        <span style="width: 80px;font-size:14px;">你的名字:</span><input style="width: 200px;text-align: left" type="text" name="myName"/><br/>
        <span style="width: 80px;font-size:16px;">第0句话:</span><input style="width: 200px;text-align: left" type="text" name="l0"/><br/>
        <span style="width: 80px;font-size:16px;">第1句话:</span><input style="width: 96px;text-align: left" type="text" name="l11"/>
               <input style="width: 96px;text-align: left" type="text" name="l12"/><br/>
        <span>第2句话:</span><input style="width: 96px;text-align: left" type="text" name="l21"/>
               <input style="width: 96px;text-align: left" type="text" name="l22"/><br/>
        <span>第3句话:</span><input style="width: 96px;text-align: left" type="text" name="l31"/>
               <input style="width: 96px;text-align: left" type="text" name="l32"/><br/>
        <span>第4句话:</span><input style="width: 200px;text-align: left" type="text" name="l4"/><br/>
        <span>第5句话:</span><input style="width: 200px;text-align: left" type="text" name="l5"/><br/>
        <span>第6句话:</span><input style="width: 200px;text-align: left" type="text" name="l6"/><br/>
        <span>第7句话:</span><input style="width: 200px;text-align: left" type="text" name="l7"/><br/>
        <span style="width: 80px;font-size:16px;">第8句话:</span><input style="width: 200px;text-align: left" type="text" name="l8"/><br/>
        <div style="text-align: center;padding-left: 2%">
        <span style="width: 80px;font-size:14px;text-align: center;" >相爱的那一刻:</span><br/>
        年:<input style="width: 50px" type="text" name="year"/>
        月:<input style="width: 50px" type="text" name="month"/>
        日:<input style="width: 50px" type="text" name="day"/><br/>
        时:<input style="width: 50px" type="text" name="hour"/>
        分:<input style="width: 50px" type="text" name="minute"/>
        秒:<input style="width: 50px" type="text" name="sec"/><br/>
        </div>
        <input  type="submit" value="提交"/>
    </form>
    </div>
</body>
</html>